@use "./variables";

header {
    background: variables.$tertiary;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
        .headerImgContainer {
            width: 45%;
        }
        .headerContentContainer {
            width: 65%;
            margin: 0 auto;
        }
}

.headerWrapper {
    width: 55%;
    color: variables.$primary;
}